<h2 class="with-gradient"><%= link_to "Live on the Air!", stream_path(:channel => 'birn1'), :class => "listen-link", "data-channel" => 'birn1' %></h2>
<div class="content-box show">
	<h3>BIRN Automaton</h3>
	<div class="description">
		<%= image_tag "defaults/DJ-Robot.jpg", :class => 'avatar' %>
		<%= get_no_event_text.html_safe %>
	</div>
</div>