<%= check_for_errors(@user) %>
<fieldset>
	<ol>
	  <li>
		<label for="new_password">New Password</label>
		<%= f.password_field :password %>
	  </li>

	  <li>
		<label for="new_password_confirmation">Type Again</label>
		<%= f.password_field :password_confirmation %>
	  </li>
	</ol>
</fieldset>

<fieldset>
	<%= f.submit "Update Password" %>
</fieldset>