<div class="sub-nav">
	<%= nav_link "Single User", new_cp_user_path, active_tabs.include?("single_user") %>
	<%= nav_link "Multiple Users", new_multiple_cp_users_path, active_tabs.include?("multiple_users") %>
</div>