<div class="legend">
	<%= image_tag "icons/locked Yellow.png", :class => "topic-icon" %> Locked<br />
	<%= image_tag "icons/earth Green.png", :class => "topic-icon" %> Global/Announcement<br />
	<%= image_tag "icons/about Blue.png", :class => "topic-icon" %> Sticky
</div>